* {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #f9faf8;
}

html, body {
    height: 100%;
}

/* Header and Landing Page */

.header {
    display: flex;
    flex-shrink: 0;
    background-color: #1F2937;
    font-size: 26px;
    margin: 0;
    padding: 20px 0px;
    
}

.logo {
    font-weight: bold;
    margin-left: 150px;
}

.links {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 150px;
    gap: 20px;
    font-size: 18px;
}

.upper-body {
    display: flex;
    background-color: #1F2937;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: space-around;
    flex-shrink: 0;
}

.main-left {
    margin-left: 150px;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
}

.main-subtext {
    max-width: 450px;
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
}

.signup-button {
    background-color: #3882f6;
    font-size: 18px;
    font-weight: bold;
    padding: 7px 40px;
    border-radius: 10px;
    border: 0;
}

.main-box {
    display: flex;
    background-color: #929292;
    width: 500px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

/* Body */

.upper-middle { /* "Some Randon Information" text */
    display: flex;
    flex-direction: column;
}

.upper-middle-text {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin-top: 50px;
}

/*Blue boxes*/

.upper-middle-box-container {
    display: flex;
    justify-content: center;
}

.upper-middle-box,
.upper-middle-boxs-texts {
    display: flex;
    width: 250px;
    height: 250px;
    margin: 0px 15px;
}

.upper-middle-box {
    align-items: center;
    border-style: solid;
    border-color: #3882f6;
    border-width: 4px;
    border-radius: 10px;
    margin-top: 30px;
}

.upper-middle-boxs-texts {
    color: black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Quote Section*/

.lower-middle {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    margin: 0;
    padding: 0%;
    height: 300px;
}

.lower-middle-quote {
    justify-content: center;
    align-items: center;
    margin: 0px 730px;
    margin-top: 100px;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.lower-middle-quote-author {
    display: flex;
    color: #1F2937;
    font-size: 50;
    font-weight: bolder;
    margin-top: 25px;
    margin-right: 800px;
    margin-left: auto;
}

