* {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #f9faf8;
}

.header {
    display: flex;
    background-color: #1F2937;
    font-size: 36px;
    margin: 0;
    padding: 10px 0px;
}

.logo {
    font-weight: bold;
    margin-left: 150px;
}

.links {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 150px;
    gap: 20px;
    font-size: 18px;
}

.upper-body {
    display: flex;
    background-color: #1F2937;
}